/* Main css */
    body{
        min-height:100vh;
          -webkit-font-smoothing: antialiased;
      }
      .sb-card {
        background-color:#303030;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
        position: relative;
        width: 150px;
        margin: 0 auto;
        z-index: 1;
        transition: box-shadow 0.15s ease-out, transform 0.25s ease;
        perspective: 500px;
        perspective-origin: 50% 50%;
        transform-style: preserve-3d;
        display: inline-block;
      }
      .sb-card:hover {
        transform: scale(1.04);
        box-shadow: none;
        z-index:2;
      }
      .sb-card:focus {
        transform: scale(1.1);
        box-shadow: none;
      }
      .sb-card.hover--ending {
        transition: box-shadow 0.5s ease;
      }
      @media only screen and (min-width: 540px) {
        .sb-card {
          display: inline-block;
        }
      }
      .sb-card + .sb-card {
        margin:0;
      }
      @media only screen and (min-width: 540px) {
        .sb-card + .sb-card {
          margin:0;
        }
      }

      /*span*/
      .highlight {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        right: 0;
        opacity: 0;
        margin:0;
        z-index: 3;
        transition: opacity 0.25s ease;
        background: radial-gradient(60px at 50%, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
      }

      /*a*/
      .card__link {
        display: block;
        position: relative;
        width: 150px;
        height: 228px;
        overflow: hidden;
        transform-origin: center center;
        transform-style: preserve-3d;
      }

      /*img*/
      .card__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      .card__title {
        font-size: 14px;
        width: 100%;
        /*height: 24px;*/
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        left:0;
        bottom:0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        margin:0;
        transition: opacity 0.15s ease-in;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
        background-color:rgba(15,15,15,0.6);
        padding:3px 0;
      }
      .sb-card:hover .card__title {
        opacity: 1;
      }
      .sb-card .badge{
        font-size:12px;
        position:absolute;
        z-index:2;
        top:0;
        background-color:rgba(15,15,15,0.6);
        color:#ffffff;
        display:block;
        padding:5px 6px 4px 6px;
      }
    /* news cards */
    .sb-card.news{
      min-width: 50%;
    }
    .sb-card.news a{
      width: auto;
    }
    .sb-card.news a{
      height: 260px;
    }
    .sb-card.news .card__title{
      opacity:1;
    }
/* --- feather icons --- */
    .feather {
      width: 24px;
      height: 24px;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      vertical-align: middle;
    }
    .feather.sm {
      display: inline-block;
      vertical-align:top;
      width: 21px;
      height: 21px;
    }
/* -- fix nav search bar on md --*/
    .mb-2, .my-2 {
        margin-bottom: 0 !important;
    }
    .mt-2, .my-2 {
        margin-top: 0 !important;
    }





/* Media stuff */
@media screen and (max-width: 767px){
    .mb-2, .my-2 {
        margin-bottom: 0.5rem !important;
    }
    .mt-2, .my-2 {
        margin-top: 0.5rem !important;
    }
}
@media screen and (min-width: 576px){
    .form-inline .form-control {
        display: flex;
        flex-grow: 1;
    }
}
@media screen and (max-width: 768px){
    .sb-card.news{
      min-width: 100%;
    }
    .container.news{
        max-width: 600px;
    }
}